<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="../static/menu/css/simple_menu.css">
<link rel="stylesheet" href="../static/css/nivo-slider.css" type="text/css" media="screen">
<!-- JS Files -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/slides/slides.min.jquery.js"></script>
<script src="../static/js/cycle-slider/cycle.js"></script>
<script src="../static/js/nivo-slider/jquery.nivo.slider.js"></script>
<script src="../static/js/tabify/jquery.tabify.js"></script>
<script src="../static/js/prettyPhoto/jquery.prettyPhoto.js"></script>
<script src="../static/js/twitter/jquery.tweet.js"></script>
<script src="../static/js/scrolltop/scrolltopcontrol.js"></script>
<script src="../static/js/portfolio/filterable.js"></script>
<script src="../static/js/modernizr/modernizr-2.0.3.js"></script>
<script src="../static/js/easing/jquery.easing.1.3.js"></script>
<script src="../static/js/kwicks/jquery.kwicks-1.5.1.pack.js"></script>
<script src="../static/js/swfobject/swfobject.js"></script>
<div id="container">
  <h1><b>EVENTS</b></h1>
  

    <div class="heading_bg">
      <h2>FREE DANCE CLASSES FOR OVER-60s</h2>
    </div>
    <p> 19 Sep 2014 14:00 - 28 Nov 2014 15:00 / Tags: , Roehampton</p>
    <p>Our dance classes for over-60s are taking place around Wandsworth - find a class near you.</p>

  

    <div class="heading_bg">
      <h2>NOVEMBER UNDERGRADUATE OPEN DAY</h2>
    </div>
    <p>20 Nov 2014 10:00 - 16:00 / Tags: Faculty of Education, London, UK</p>
    <p>At our open days you will be able to learn about the subject that you are interested in, meet current undergraduates and staff, tour our building and facilities, and gather information on all aspects of the RAD.</p>

  

	<div class="heading_bg">
      <h2>COMPREHENSIVE SYLLABUS CLASSES</h2>
    </div>
    <p>07 Dec 2014 10:15 - 16:15 / Tags: Activity, Bolton</p>
    <p>For Grades 1, 2 & 3. </p>

  

    <div class="heading_bg">
      <h2>VICTORIA TENNANT</h2>
    </div>
    <p>0 Dec 2014 19:00 - 20:30 / Tags: , London</p>
    <p>Victoria Tennant, actress, and daughter of prima ballerina Irina Baronova, is launching a book on her late mother this December at the RAD.</p>

  

  <div class="heading_bg">
      <h2>COMPREHENSIVE SYLLABUS CLASSES</h2>
    </div>
    <p>07 Dec 2014 10:15 - 16:15 / Tags: Activity, Bolton</p>
    <p>For Grades 1, 2 & 3. </p>
	

    <div class="heading_bg">
      <h2>BOYS ONLY!</h2>
    </div>
    <p> 13 Dec 2014 10:00 - 14 Dec 2014 16:15 / Tags: Activity, Workshop, London, UK</p>
    <p>Two days of high-energy, dynamic ballet and contemporary dance classes with a focus on male technique and creativity, suitable for beginners to advanced dancers and led by experienced male teachers.</p>

  
  <div style="clear:both; height: 40px"></div>

</div>
<!-- close container -->

