<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/menu/css/simple_menu.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/gridNavigation.css" type="text/css">
<!--JS FILES -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.gridnav.js"></script>
<script src="/static/js/easing/jquery.easing.1.3.js"></script>
<script>
$$(function () {
$('#tj_container').gridnav({
type: {
mode: 'seqfade', // use def | fade | seqfade | updown | sequpdown | showhide | disperse | rows
speed: 500, // for fade, seqfade, updown, sequpdown, showhide, disperse, rows
easing: '', // for fade, seqfade, updown, sequpdown, showhide, disperse, rows	
factor: 100, // for seqfade, sequpdown, rows
reverse: '' // for sequpdown
}
});
});
</script>
<div id="container">
 <div id="tj_container" class="tj_container">
<div class="tj_wrapper">
<ul class="tj_gallery" style="margin:0; padding:0">
<li><a href="#"><img src="/static/design/images/1.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/2.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/3.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/4.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/5.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/6.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/7.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/8.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/9.jpg" alt=""></a></li>
<li><a href="#"><img src="/static/design/images/10.jpg" alt=""></a></li>

</ul>
</div>
</div>
<!-- END Portfolio -->
<div style="clear:both"></div>
<h1 style="padding: 20px 0"><b><b>Professional Dance Academy</b></b></h1>

<!-- Third Column -->
<div class="one-third last">
<div class="heading_bg">
<h2>Dance Training</h2>
</div>
<blockquote>The most identifiable aspect of the RAD method is the attention to detail when learning the basic steps, and the progression in difficulty is often very slow. While the difficulty of an exercise may only increase slightly from grade to grade, more importance is placed on whether the student is performing the step with improved technique. For example, plie exercises are employed consistently throughout the lower grades to enable the student to progressively deepen the plie and improve turnout. The principle behind this is that if enough time is spent achieving optimal technique before introducing new vocabulary, the easier it is for the student to learn the harder steps, while exercising basic technique to the maximum at all times.</blockquote>
</div>

<!-- Second Column -->
<div class="one-fourth">
<div class="heading_bg"><a href="/events"><b>EVENTS</b></a>

</div>
<ul class="container_links">
<li>Free dance classes for over-60s</li>
<li>Comprehensive Syllabus Classes</li>
<li>Victoria Tennant on Irina Baronova and the Ballets Russes de Monte Carlo</li>
<li>Boys Only!</li>
</ul>
</div>


<div style="clear:both; height: 40px"></div>
</div>
<!-- END container -->


