$def with (picture)
    
$var title: "Picture"
$var url = "/picture"

$for pictures in picture: 
    $ picture_name = pictures["title"].replace(" ","_")  


<div id="container">
  <div id="grid">
    <div class="one-third">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img class="portfolio-item" src="../static/design/img/photo_grid/$pictures.img17" alt="" width="318" height="150"></div>
    </div>
    <div class="one-third">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img class="portfolio-item" src="../static/design/img/photo_grid/$pictures.img15" alt="" width="318" height="150"></div>
    </div>
    <div class="one-third last-grid">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
		
          
        </div>
        <img class="portfolio-item" src="../static/design/img/photo_grid/$pictures.img18" alt="" width="318" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img5" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img4" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img7" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img1" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img11" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img19" alt="" width="280" height="150"></div>
    </div>
    <div class="one-fifth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img12" alt="" width="118" height="150"></div>
    </div>
    <div class="one-fifth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img2" alt="" width="118" height="150"></div>
    </div>
    <div class="one-fifth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img9" alt="" width="118" height="150"></div>
    </div>
    <div class="one-fifth last-grid">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img20" alt="" width="118" height="150"></div>
    </div>


	
	
	
	    <div class="one-third">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img class="portfolio-item" src="../static/design/img/photo_grid/$pictures.img16" alt="" width="318" height="150"></div>
    </div>
    <div class="one-third">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img class="portfolio-item" src="../static/design/img/photo_grid/$pictures.img14" alt="" width="318" height="150"></div>
    </div>
    <div class="one-third last-grid">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
		
         
        </div>
        <img class="portfolio-item" src="../static/design/img/photo_grid/$pictures.img8" alt="" width="318" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img3" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img13" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img10" alt="" width="238" height="150"></div>
    </div>
    <div class="one-fourth">
      <div class="item-hover">
        <div class="portfolio-thumbnail">
          
        </div>
        <img src="../static/design/img/photo_grid/$pictures.img6" alt="" width="238" height="150"></div>
    </div>
    
	
  </div>
  <div style="clear:both; height: 40px"></div>
</div>
<!-- END container -->
  <!-- Third Column -->
  
